header{
    width: 100vw;
    background-image: url('../media/hearder.jpg');
    background-size: cover;
    height: 100vh;
}

.headertop{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 9vh;
    background-image: url('../media/logo512.png');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 1vw;
}


h3{
    font-size: 4vw;
    padding-top: 25vh;
    padding-bottom: 40vh;
    color: white;
}
.headerTextjpanel{
    display: flex;
    align-items: center;
    margin: 0px 10%;
}
.headerText{
    height: 60%;
    align-items: center;
}
.header-text{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background: rgba(0,0,0,.6);
    color: #fff;
    height: 9vh;
    width: 45vw;
    border-radius: 2px 2px 30px 30px;
    position: fixed;
}

.header-li {
    margin-right: 3rem;
    padding: 1.5rem;
    float: right;
    border: 0;
    cursor: pointer;
    opacity: .6;
    list-style: none;
    font-size: 1vw;
}

.fp-tooltip fp-left {
    color: white;
}

#contact{
    padding-right: 0px;
}

