@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
.sectionpart{
        background-color: white;
    }
    
    .section2{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
}


.icon{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    text-align: justify;
}

.info1{
    display: flex;
    align-items: center;
    justify-content: center;

}


.text{
    width: 80%;
    text-align: center;
    color: black;
    font-family: "Do Hyeon", sans-serif;
}

.whoiam{
    font-size: 4.4vw;
}

.info{
    margin-top: 1vh;
    font-size: 20pt;
    height: auto;
    display: grid;
    grid-template-columns: 30% auto;

}

#contact_support{
    font-size: 80px;
}

.info>*{
    height: 55vh;
    font-family: 'Noto Sans KR', sans-serif;
}

.profileImg{
    border-radius: 100vw;
    max-width: 20vw;
    max-height: 20vw;
}

.info2{
    display: grid;
    grid-template-rows: 30% auto;
    row-gap: 1vh;
}

.info2>*{
    text-align: left;
    padding-left: 2vw;
}

.block{
    display: flex;
    align-items: flex-end;
    background-color: #393f47;
    width: 6px;
    height: 2.7vw;
    margin-bottom: 10px;
}

.miniblock{
    margin-left: 1vw;
    font-size: 2.2vw;
}
dd{
    font-size: 1.5vw;
    text-align: justify;
}
p{
    font-size: 1.1vw;
    line-height: 5.5vh;

}

dl{
    margin-top: 3vh;
}







