@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

.portfolio{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #dde8f7;
    color: black;
    font-family: "Do Hyeon", sans-serif;
    display: flex;
    flex-direction: column;
    
}

.portFoliomainPanel{
    display: flex;
    justify-content: center;
}

.portfoliotext{
    font-size: 4.4vw;
    padding-top: 0.8vw;

}

.portFolioPanel{
    width: 85vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;

}

.sub{
    width: 50%;
    margin: 0.8vw;

}

.leftPanel1, .leftPanel2 {
    margin-top: 15vh;
}

img{
    width: 100%;
    height: 100%;
}

.rightPanel1{
    padding-left: 50px;
}

.title{
    font-size: 1.2vw;
}
.rightContent{
    height: 50vh;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 20% 20% 20% 20% 20%;
    row-gap: 5px;
    padding-bottom: 3vh;
}


.subtext{
    font-size: 1.2vw
}

.skillsminiicon{
    display: flex;
}

.portfoliotext2{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    text-align: left;
    color: #3a3a3a;;
    font-weight: bold;
    
}

#mini{
    width: 6vw;
    height: 6vw;
    margin-right: 1rem;
    background-color: white;
    border-radius: 15px 15px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 20%);
}

#mini:last-child{
    margin-right: 0rem;
}

.projecticon{
    width: 95%;
    height: 15vh;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.miniicon{
    width: 5vw;
    height: 5vw;
    border-radius: 5px 5px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 20%);
    background-color: white;
}

.posproject{
    background-image: url('../media/github.png');
}

.posyoutube{
    background-image: url('../media/youtube.png');

}